/*NavBar start*/

.main-navigation
{
    border-bottom: 1px solid #eee;
}
.navbar-default {
    background-color: #fff;
    border-color: rgba(231, 231, 231, 0.33);
    padding: 10px 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #354242;
    background-color: #fff;
}
.navbar-nav {
    padding-top: 5px;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	border-bottom: 2px solid #E74C3C;
    outline: none;
}
.navbar {
	min-height: inherit;
	margin-bottom: 0px;
}
.navbar-brand {
	height: inherit;
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 5px;
    font-size: 42px;
    margin-top: 5px;
}

.navbar-default .navbar-brand {
    color: #e43c5c;
}

.navbar-default .navbar-nav > li > a {
	color: #354242;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0px 10px;
	padding-bottom: 5px;
	font-size: 14px;
}
.nav > li > a
{
	padding: 0px;
}
/*NavBar end*/


.panel.panel-primary {
    margin-left: 335px;
    margin-top: 110px;
    width: 452px;
}
.result {
    margin-top: 150px;
}